.ratingStarsDetail .even {
  background: #e9e9e9;
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  padding: 5px;
}

.ratingStarsDetail .odd {
  background: #fff;
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  padding: 5px;
}

.ratingStarsDetail .last {
  border-bottom: 1px solid #c0c0c0;
}

.ratingStars { /*float: right;*/
  
}

.ratingStars .ratingWrapper {
  background: url("images/starRatingGray.png") no-repeat scroll left top
    transparent;
  height: 28px;
  width: 150px;
}

.ratingStars .ratingWrapper .ratingInner {
  background: url("images/starRatingYellow.png") no-repeat scroll left top
    transparent;
  height: 28px;
  width: 150px;
}

.ratingDate {
  padding-top: 8px;
  float: right;
}

.ratingDetail {
  padding-top: 8px;
  float: left;
}

.ratingStarsDetail {
  margin: -10px -10px 0;
}

.ratingStarsDetail .ratingCommentDetail {
  clear: both;
  padding-top: 8px;
}

.ratingStarsDetail .ratingWrapperDetail {
  background: url("images/starRatingGray.png") no-repeat scroll left top
    transparent;
  float: left;
  height: 28px;
  width: 180px;
}

.ratingStarsDetail .ratingWrapperDetail .ratingInnerDetail {
  background: url("images/starRatingYellow.png") no-repeat scroll left top
    transparent;
  /*float: left;*/
  height: 28px;
  width: 150px;
}

.ratingStarsDetail .ratingWrapperDetail .ratingDetail {
  /*float: right;*/
  padding-top: 8px;
}